@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Open Sans', sans-serif; }

html {
  font-size: 1rem; }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 0.8rem; } }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 0.6rem; } }

.navbar-brand {
  font-size: 1rem; }

.navbar .nav-link {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0rem 1rem !important; }
  .navbar .nav-link.active {
    border-left: #444 3px solid; }

.showcase .carousel-caption {
  margin-bottom: 2rem; }
  .showcase .carousel-caption h5 {
    font-size: 2rem; }

.home-heading {
  overflow: hidden;
  position: relative;
  height: 40vh;
  background: url("../../img/lights.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff; }
  @media only screen and (max-width: 767px) {
    .home-heading {
      height: 25vh; }
      .home-heading h1 {
        font-size: 1.5rem;
        margin-top: -1rem; }
      .home-heading p {
        font-size: 1rem; } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .home-heading {
      height: 40vh; } }
  .home-heading .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }

.info {
  background-color: #fff; }
  .info h3 {
    font-weight: 500;
    margin-bottom: 1rem; }
  .info p {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500; }
  .info a {
    margin: 1rem auto; }

.video {
  overflow: hidden;
  position: relative;
  height: 40vh;
  background: url("../../img/media.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff; }
  @media only screen and (max-width: 767px) {
    .video {
      height: 30vh; }
      .video h1 {
        font-size: 1.5rem; } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .video {
      height: 40vh; }
      .video .container {
        margin-top: -0.2rem !important; } }
  .video__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }

#signup .form-group {
  margin-top: 0.2rem; }
  #signup .form-group input[type='submit'] {
    margin-top: 1rem;
    background-color: #26c426;
    color: #fff; }
    #signup .form-group input[type='submit']:hover {
      background-color: #26c300; }

.footer p {
  font-size: 0.8rem;
  font-weight: bolder; }

.about__header {
  min-height: auto;
  background: url("../../img/image1.jpg") no-repeat center center/cover;
  background-attachment: fixed; }

.about__content img {
  margin-left: 5rem !important; }

.about__boxes h1 {
  font-size: 1.5rem;
  font-weight: bold; }

.about__boxes p {
  font-size: 1rem; }

.testimonial {
  background-color: #4d4d4d;
  border-bottom: honeydew 0.1px solid; }
  .testimonial h2 {
    color: chocolate; }
  .testimonial .blockquote {
    font-size: 1.2rem; }
  .testimonial .blockquote__footer {
    font-size: 0.8rem; }

.service__header {
  min-height: auto;
  background: url("../../img/image1.jpg") no-repeat center center/cover;
  background-attachment: fixed; }

.service__plan h1 {
  font-size: 1.5rem; }

.service__plan .card-title {
  font-size: 1.3rem;
  font-weight: bold; }

.service__plan p {
  font-size: 0.8rem; }

.service__plan li {
  list-style: none;
  border: none; }

.blog__header {
  min-height: auto;
  background: url("../../img/image2.jpg") no-repeat center center/cover;
  background-attachment: fixed; }

.contact__header {
  min-height: auto;
  background: url("../../img/image1.jpg") no-repeat center center/cover;
  background-attachment: fixed; }

.contact h4 {
  font-size: 1.4rem; }

.contact .form-group {
  margin-top: 1rem; }

.staff {
  background-color: #464646; }
  @media only screen and (max-width: 552px) {
    .staff .row {
      display: grid;
      grid-template-rows: auto auto auto auto; }
    .staff img {
      width: 100px; } }
