// about heading section
.about__header{
    min-height: auto;
    background: url('../../img/image1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}


// about content section
.about__content{
    
    & img{
        margin-left: 5rem !important;
    }
}
