// contact heading section
.contact__header{
    min-height: auto;
    background: url('../../img/image1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

// contact section
.contact{
    h4{
        font-size: 1.4rem;
    }
    .form-group{
        margin-top: 1rem;
    }
}


// staff section
.staff{
    background-color: #464646;
}