// about heading section
.service__header{
    min-height: auto;
    background: url('../../img/image1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}


// service plan
.service__plan{
    h1{
        font-size: 1.5rem;
    }

    .card-title{
        font-size: 1.3rem;
        font-weight: bold;
    }

    p{
        font-size: 0.8rem;
    }

    li{
        list-style: none;
        border: none;
    }
}